*{
	padding: 0;
	margin: 0;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.header{
	height: 173px;
	background-color: #f1f1f2;
}
.logo{
	text-align: center;
	height: 125px;

}
.logo img{
	margin-top:30px;
}
.nav{
	width: 670px;
	height: 45px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 23px;
}
.nav li{
	float: left;
	height: 45px;
	background:url(../img/huiline.png) no-repeat right center;
	padding: 0 30px;
	line-height: 45px;
	font-size: 14px;
	font-family: 微软雅黑;
	color: black;
}
.nav a{
	border-bottom: 3px solid #1e50ae;
	display: block;
	height: 42px;
}
.nav li:last-child{
	background:none;

}
.banner{
	height: 405px;
	background:url(../img/02.gif) no-repeat center center;
}
.sever{
	width: 1200px;
	height: 810px;
	margin: 0 auto;
	
}
.h3{

	text-align: center;
	padding-top:60px;
}
.p{
	text-align: center;
	padding-top:25px;
}
.zhong li{
	float: left;
}
.shang{
	margin-top:60px;
	width: 1200px;
	height: 370px;
	
}
.shangxiao{
	width: 300px;
	height: 370px;
	background-color: #fff;
	float: left;
}
.img{
	text-align: center;

}
.sec{
	text-align: center;
	font-family: 微软雅黑;
	font-size: 16px;
	margin-top:20px;

}
.list ul{
	margin-left: 110px;
	margin-top:17px;
	float: left;
}
.list li{
	background:url(../img/yuan1.png) no-repeat left center;
	width: 160px;
	padding-left: 15px;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #c8c8c8;
}
.xiaxiao{
	width: 300px;
	float: left;
}
.jiejue{

	height: 712px;
	background:url(../img/lan.png) no-repeat center center;
}
.jiejuezhong{
	width: 1200px;
	height: 710px;
	background-color: green;
	margin-left: 25px;
}
.h2{
	height: : 100px;
	padding-top:65px;
	text-align: center;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #fff;
	
}
.jiejuezhong p{
	height: 40px;
	padding-top: 24px;
}